.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#drum-machine {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.drums {
	background-color: rgb(173, 173, 173);
	border-radius: 2px;
	box-shadow: rgb(90, 90, 90) 3px 3px 5px;
}

.triggerKey {
	background-color: grey;
	padding: 40px;
	cursor: pointer;
	box-shadow: rgb(61, 61, 61) 2px 2px 3px;
	border-radius: 5px;
	font-weight: bold;
}

/* .drum-pad:active {
	background-color: yellow;
} */

.drum-pad:active > .triggerKey {
	background-color: rgb(170, 170, 170);
	box-shadow: rgb(61, 61, 61) 2px 2px 3px;
}

/* .drum-pad-active {
	background-color: yellow;
} */

.drum-pad-active > .triggerKey {
	background-color: rgb(195, 195, 195);
	box-shadow: rgb(61, 61, 61) 2px 2px 3px;
}
